$opening-anim: fadeIn 1s ease backwards;
$anim-delay: 200ms;

@mixin overlay($bg-color: var(--color-ui-accent)) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-main-bg);
  font-family: var(--font-default);
  color: var(--color-paragraph);
}

main {
  overflow: hidden;
  margin: 1em;
  border-radius: 0.5em;
  background-color: var(--color-card-bg);
}

.img-container {
  position: relative;
  overflow: hidden;

  &::after {
    @include overlay();
    content: "";
    opacity: 0.4;
  }

  &:hover img {
    transform: scale(1.2);
  }

  img {
    transition: transform 0.3s ease;
    animation: zoom-out 1.3s ease-out;
  }

  .overlay {
    @include overlay();
    mix-blend-mode: color-burn;
  }
}

.content {
  display: grid;
  justify-items: center;
  gap: 1em;
  padding: 2.5em 2em;
  text-align: center;

  h1 {
    font-size: 2rem;
    max-width: 24ch;
    animation: $opening-anim;

    span {
      color: var(--color-ui-accent);
    }
  }

  > p {
    margin: 0 0.5em 1em 0.5em;
    animation: $opening-anim $anim-delay;
    line-height: 1.5;
  }
}

.total-group {
  display: grid;
  gap: 2em;
  color: var(--color-stat-headings);

  p {
    display: grid;
    gap: 5px;
    font-size: 0.9rem;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation: $opening-anim $anim-delay * ($i + 1);
      }
    }
  }

  span {
    font-size: 1.75rem;
  }
}
