@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0, 0%, 98%;
    --color-foreground: 0, 0%, 100%;
    --color-main: 200, 15%, 8%;
    --color-hint: 0, 0%, 52%;
    --color-skeleton: 216, 12.2%, 83.9%;
    --brightness: 0.95;
  }

  .dark {
    --color-background: 207, 26%, 17%;
    --color-foreground: 209, 23%, 22%;
    --color-main: 0, 0%, 100%;
    --color-hint: 0, 0%, 100%;
    --color-skeleton: 215.4, 25%, 26.7%;
    --brightness: 1.25;
  }

  body {
    @apply min-h-screen bg-background font-nunito text-main antialiased;
  }

  #root {
    @apply flex min-h-screen flex-col;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply border-0 border-l-[2.5px] border-solid border-main/25;
  }
}
