@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-soft-red: hsl(10, 79%, 65%);
  --primary-cyan: hsl(186, 34%, 60%);

  --neutral-dark-brown: hsl(25, 47%, 15%);
  --neutral-medium-brown: hsl(28, 10%, 53%);
  --neutral-cream: hsl(27, 66%, 92%);
  --neutral-very-pale-orange: hsl(33, 100%, 98%);

  --fw-700: 700;

  --fs-xsmall: 0.5em;
  --fs-small: 0.6em;
  --fs-default: 1.125rem;
  --fs-medium: 1.375rem;
  --fs-large: 1.8rem;
}

@keyframes scale-up-bottom {
  from {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }
  to {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

svg {
  width: 2.75em;
  height: 2em;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-default);
  font-family: "DM Sans", sans-serif;
  color: var(--neutral-medium-brown);
  background-color: var(--neutral-cream);
}

main {
  --padding: 1em;
  --border-radius: 0.5em;
  display: grid;
  margin-inline: 1em;
  gap: 0.75rem;
}

header {
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--neutral-cream);
  background-color: var(--primary-soft-red);
}

hr {
  height: 2px;
  border: none;
  background-color: var(--neutral-cream);
}

span {
  display: block;
}

footer {
  text-align: center;
  font-size: var(--fs-small);
  position: absolute;
  bottom: 10%;
}

.flex-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary {
  display: grid;
  border-radius: var(--border-radius);
  padding: var(--padding);
  gap: 1em;
  background-color: var(--neutral-very-pale-orange);
}

.heading {
  font-size: var(--fs-small);
}

.balance {
  color: var(--neutral-very-pale-orange);
  font-size: var(--fs-default);
  font-weight: var(--fw-700);
  margin-top: 0.25em;
}

.graph {
  height: 16.75em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1em;
  font-size: var(--fs-xsmall);
  text-align: center;
}

.graph-heading {
  color: var(--neutral-dark-brown);
  font-weight: var(--fw-700);
}

.graph-bar {
  --bar-color: var(--primary-soft-red);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
}

.graph-bar.today {
  --bar-color: var(--primary-cyan);
}

.graph-bar:after {
  content: "";
  width: 1.5rem;
  height: 0;
  margin-bottom: 1em;
  border-radius: 3px;
  background-color: var(--bar-color);
  transition: height 0.5s ease-out, background-color 0.2s;
}

.graph-bar:hover:after {
  background-color: var(--primary-cyan);
}

.popup {
  display: none;
  border-radius: 3px;
  padding: 0.5em;
  color: var(--neutral-very-pale-orange);
  background-color: var(--neutral-dark-brown);
  font-weight: 700;
  line-height: 1.5;
  position: absolute;
  animation: scale-up-bottom 0.2s ease;
}

.popup.show {
  display: block;
}

.total-group {
  font-size: var(--fs-small);
}

.total {
  display: flex;
  color: var(--neutral-dark-brown);
  font-size: var(--fs-medium);
  font-weight: var(--fw-700);
}

.rate {
  text-align: right;
  color: var(--neutral-dark-brown);
  font-weight: var(--fw-700);
}

@media screen and (min-width: 40em) {
  main {
    --border-radius: 0.75em;
  }

  .graph {
    height: 15em;
    gap: 1.25em;
  }

  .graph-bar:after {
    width: var(--fs-large);
  }

  .total {
    font-size: var(--fs-large);
  }
}
